body {
  overflow-x: hidden;
  height: 90vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(109, 109, 109);
}

h1 {
  text-align: center;
  font-size: 45px;
}

img {
  width: 100%;
}

.slick-dots li button::before {
  font-size: 15px;
}
.slider {
  max-width: 1300px;
}
